/* src/styles/layout.css */
:root {
  --header-height: 60px;
  --sidebar-width: 260px;
}

.appMain {
  min-height: 100vh;
  background: #f3f4fb;
  display: flex;
  flex-direction: column;
}

.mainContentWrapper {
  flex: 1;
  position: relative;
  padding: 0 !important;   /* ép về 0 luôn */
  margin: 0;
}

.mainContent {
  margin-left: var(--sidebar-width);
  margin-top: var(--header-height);
  padding: 0;
  height: calc(100vh - var(--header-height));
  box-sizing: border-box;
  background: #f3f4fb;
}
