/* ===== SIDEBAR ===== */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #0B2A4A;
  display: flex;
  flex-direction: column;
  color: #8FA8C1;
}

/* ===== LOGO ===== */
.sidebar-logo {
  padding: 16px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.06);
}

.sidebar-logo img {
  width: 50px;
  height: 50px;
}

.sidebar-brand {
  font-family: "Montserrat", "Inter", sans-serif;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #fff;
}

/* ===== NAV ===== */
.sidebar-nav {
  padding: 8px 0;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar-nav::-webkit-scrollbar {
  width: 5px;
}

.sidebar-nav::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.sidebar-nav::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
.sidebar-group {
  margin-bottom: 14px;
}

.sidebar-section {
  padding: 12px 18px 6px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #6F8FB3;
}

/* ===== ITEM ===== */
.nav-item {
  margin: 4px 12px;
  padding: 10px 14px 10px 18px;

  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  color: #8FA8C1;
  text-decoration: none;
  cursor: pointer;
}

.nav-item svg {
  font-size: 16px;
}

/* Hover */
.nav-item:hover {
  background: #123A63;
  color: #fff;
}

/* Active */
.nav-item.active {
  background: #123A63;
  color: #fff;
  font-weight: 600;
  position: relative;
}

.nav-item.active::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 8px;
  bottom: 8px;
  width: 3px;
  background: #3B82F6;
  border-radius: 2px;
}

/* ===== DISABLED ===== */
.nav-item.disabled {
  opacity: 0.45;
  cursor: not-allowed;
}

.nav-item.disabled:hover {
  background: none;
}

.soon {
  font-size: 10px;
  margin-left: 6px;
  color: #93C5FD;
}

/* ===== FOOTER ===== */
.sidebar-footer {
  margin-top: auto;
  padding: 12px;
}

.sidebar-divider {
  height: 1px;
  background: rgba(255,255,255,0.1);
  margin: 0 10px 12px;
}

.logout-btn {
  width: calc(100% - 20px);
  margin: 0 10px;
  padding: 10px 14px;

  display: flex;
  align-items: center;
  gap: 12px;

  background: transparent;
  border: none;
  border-radius: 6px;
  color: #8FA8C1;
  font-size: 14px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #123A63;
  color: #fff;
}
