.hero-banner {
  margin-top: 2px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 100px;
}

.hero-overlay.white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.hero-overlay.white h1 {
  font-size: 40px;
  font-weight: 750;
  color: white;
  margin-bottom: 24px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.hero-overlay.white p {
  font-size: 25px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

/* ===== CURSOR ===== */
.cursor {
  display: inline-block;
  width: 2px;
  background-color: #0a35a9;
  margin-left: 2px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
